
.primary-link {
  text-decoration: none;
  font-family: $montserrat;
  font-weight: $font-regular;
  transition: .3s;
  color: var(--v-accent-base) !important;

  &:hover {
    transition: .3s;
    -webkit-text-stroke: 1px $primary;
    color: $primary !important;
  }
}